.navbar {
	font-family: 'Sansita Swashed', cursive;
	font-size: x-large;
}

/*font for box labels*/
label {
	font-family: Optima, sans-serif;
	font-size: x-large;
	font-weight: 500;
}

.active {
	font-weight: bold;
}

h1 {
	font-family: 'Sansita Swashed', cursive;
	font-size: 50px;
}

p {
	font-family: 'Sansita Swashed', cursive;
	font-size: larger;
}
.btn {
	background-color: rgb(117, 169, 236);
	color: black;
	border-color: black;
	font-family: 'Sansita Swashed', cursive;
}

.footer {
	font-family: 'Sansita Swashed', cursive;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(117, 169, 236);
	color: black;
	text-align: center;
}

.fab {
	color: black;
	font-size: larger;
}

h6 {
	font-family: 'Sansita Swashed', cursive;
}

label {
	font-family: 'Sansita Swashed', cursive;
}
